/*W projekcie użyliśmy niebieskiego (#0097e6), zielonego (#33d9b2) i czerwonego (#ff5252). Dla tekstu będziemy używać kolorów #ffffff (biały – dla tekstu na barwnym tle) i #2c2c54 (granatowy – dla tekstu na jasnym tle)*/

/* Global */
*, *::before, *::after {
        box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Muli';
    color: #2c2c54;
}

/*p {*/
/*    font-family: 'Inconsolata';  */
/*}*/

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

section {
    padding: 48px 0;
}

.btn {
    display: inline-block;
    min-width: 160px;
    margin: 24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-color: inherit;
    background-position: 100% 0;
    background-size: 300%;
    transition: all 1s;
    background-image: linear-gradient(90deg, #ffffff 50%, transparent 50%);

}

.btn:hover{
    background-position: 0 100%;
}

.btn-one:hover {
    color: #0097e6;
}

.btn-one {
    color: #fff;
}

.section-title{
    font-size: 48px;
    margin: 0 0 72px 0;
}

/* Navigation */

.navigation {
    background: #0097e6;    
    padding: 12px 0;
    margin: 0;
    list-style-type: none;
}

.navigation ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigation li {
    display: inline-block;
    margin: 0 36px 0 0;
    position: relative;
}

.navigation a {
    text-decoration: none;
    color: #fff;

}

.navigation a:hover {
    font-weight: bold;
}

/* error in the course???*/
.navigation ul li ul{
    /*display: block;*/
    margin: 0 0 12px 0;
    display: none;
}

.navigation ul li:hover ul{
    display: block;
    text-align: center;
    position: absolute;
    background: inherit;
    left: 50%;
    transform: translateX(-50%);
    padding-top:12px;
    
}

.navigation ul li ul a{
    padding: 0 24px;
}


/*Header*/
.splash{
    background: #0097e6;
    color: #fff;
    height: 500px;
    display: flex;
}

.splash-inner{
    margin: auto;
    max-width: 70%;
}

.page-title{
    margin: 0;
    line-height: 1.2;
    Font-Family: 'Muli', Serif;
    Font-Size: 46px;
}

.page-title span{
    Font-Family: 'Merriweather', Serif;
}

.page-subtitle{
    margin: 0;
    line-height: 1.2;
    Font-Family: 'Muli', Sans-Serif;
    Font-Size: 26px;
}

/*our services*/
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*position: relative;*/
}

.box {
    
    position:relative;
    /*position: absolute;*/
}

.box30 {
    flex: 0 0 33%;
}

.box50 {
    flex: 0 0 50%;
    min-height: 300px;
    max-width: 250px;
    height: 100%;
}

.work-image {
    position: absolute;
    width: 50%;
    height: 100%; 
    }

.work-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*.work-image:after {*/
/*    opacity: 0.9;*/
/*    background: #000;*/
/*    top: 0;*/
/*    left: 0;*/
/*    bottom: 0;*/
/*    right: 0;*/
/*    position: absolute;*/
/*    }*/


.box50 .work-description{
    padding: 0 0 0 55%;
    text-align: left;
}

.box50 h2{
    padding: 0 0 0 55%;
    text-align: left;
}

.box p{
    position: relative;
}

.box30 p:first-of-type{
    font-weight: bold;
}

.box50 p:last-of-type{
    font-weight: bold;
}

.btn-green {
    color: #00FF00;
}
.btn-green:hover {
    background-color: #00FF00;
}


.btn-blue {
    color: #0000ff;
}

.btn-blue:hover {
    background-color: #0000ff;
}
.btn-red {
    color:  #ff0000;
}
.btn-red:hover {
    background-color: #ff0000;
}

.btn-no-border {
    border:none;
    margin: 36px 0;
    padding: 0;
    text-align: left;
}

.btn-no-border:hover{
    color: #ff0000;
}

.box-title{
    position: relative;
    font-size: 24px;
    margin: 0 0 12px 0;
}

.back-number{
    position: absolute;
    font-size: 144px;
    line-height:1;
    margin: 0 0 0 0;
    color: #d3d3d3;
}

/*contact us*/

.contact{
    background: #0097e6;
    color: #fff;
    height: 500px;
    display: flex;
}
.formspace{
    flex: 2 0 0;
    padding: 0 48px 0 0;
}


input{
    color: #fff;
    width: 100%;
    border: 0;
    background: inherit;
    border-bottom: 1px solid white;
}

.high {
    line-height: 100px;
}


::placeholder{
    color: #fff;
}

.formdata{
    flex: 1 0 0;
}

.formdata p{
    margin: 0;
    padding: 0;
}

.head{
    font-size: 20px;
    font-weight: bold;
}


footer ul {
    list-style-type: none;
    margin: 0; 
    padding: 0;
}

footer ul li {
    position: relative;
    display:inline-block;

}

footer ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}



